<h2>Change Password</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input formControlName="old_password" type="password" placeholder="Current Password" />
  <input formControlName="new_password" type="password" placeholder="New Password" />
  <input formControlName="confirm_new_password" type="password" placeholder="Confirm New Password" />
  <button type="submit" [disabled]="form.invalid">Change Password</button>
</form>
<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
<p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>